.root {
  --b-rad: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0;
  border-radius: var(--b-rad);
}

.favorite {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.title {
  font-size: 1rem;
}

.image {
  margin-bottom: 0;
  border-radius: var(--b-rad);
}
