<mat-card *ngIf="card" class="root">
  <mat-card-title class="title">{{ card.name }}</mat-card-title>
  <p>{{ card.mana_cost }}</p>
  <img mat-card-image [src]="card.image_uri" [alt]="card.name" />
  <mat-card-content class="content">
    <div class="mat-caption">{{ card.type_line }}</div>
    <div class="mat-caption">{{ card.released_at | date }}</div>
    <div class="mat-caption description">{{ card.oracle_text }}</div>
    <div *ngIf="card.power || card.toughness" class="combat">
      <div class="mat-body-2">{{ card.power }} ATK</div>
      <div class="mat-body-2">{{ card.toughness }} DEF</div>
    </div>
    <a [routerLink]="['card', card.id]">Details...</a>
  </mat-card-content>
  <button
    mat-mini-fab
    class="favorite"
    [color]="card.isFavorite ? 'warn' : ''"
    (click)="handleFavorite()"
    aria-label="favorite"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-card>
