<div class="container">
  <h2 class="mat-display-1">A propos de nous</h2>
  <p class="mat-body-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, vero?
  </p>
  <p class="mat-body-1">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
    inventore ad ipsum blanditiis quibusdam amet. Dolore iure mollitia dolores
    natus.
  </p>
  <p class="mat-body-1">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam rerum
    asperiores voluptate quod illum facere necessitatibus ducimus cumque
    pariatur rem?
  </p>
  <h2 class="mat-display-1">Contactez nous</h2>
  <app-contact></app-contact>
</div>
