<div class="container">
  <app-search-bar (searchEvent)="receiveSearch($event)"></app-search-bar>
  <mat-form-field appearance="fill">
    <mat-label>Order By</mat-label>
    <mat-select [(ngModel)]="orderBy">
      <mat-option value="name">Name</mat-option>
      <mat-option value="date">Release date</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="collection">
    <div
      *ngFor="let card of cards | searchCards: search | orderCards: orderBy"
      class="card"
    >
      <app-card [card]="card"></app-card>
    </div>
  </div>
</div>
