<mat-card class="card">
  <mat-card-content>
    <img mat-card-lg-image class="card-img" [src]="item.card.image_uris['art_crop']" [alt]="item.card.name">  
  </mat-card-content>
    <mat-card-content>
      <mat-card-title-group>
        <mat-card-title>{{item.card.name}}</mat-card-title>
        <mat-card-subtitle>{{item.variant}}</mat-card-subtitle>
      </mat-card-title-group>
    <p class="mat-body-2">{{(qty * item.card.variants[item.variant])?.toFixed(2)}} €</p>
    <div class="card-group">
      <mat-form-field class="card-input">
        <mat-label>Quantité</mat-label>
        <input matInput min="1" type="number" [(ngModel)]="qty" (change)="handleChange()"/>
      </mat-form-field>
      <button mat-flat-button color="warn" (click)="handleDelete()">Supprimer</button>
    </div>
  </mat-card-content>
</mat-card>
