.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &-img {
    object-fit: cover;
  }
  
  &-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-input {
    max-width: 5rem;
  }
}