.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.price {
    text-align: right;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}