.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}