<div class="detail">
    <app-card [card]="card" class="card"></app-card>
    <div class="info">
        <h1>{{ card.name }}</h1>
        <h3>Couleurs de mana : {{ card.colors }}</h3>
        <h3>Type de carte : {{ card.type_line }}</h3>
        <h3>Effet de la carte : {{ card.oracle_text}}</h3>
        <h3>Date de sortie : {{ card.released_at }}</h3>

    
        <mat-form-field class="select">
            <mat-label>Selectionne le type de carte</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="normal">Normale</mat-option>
                <mat-option value="foil">Brillante</mat-option>
            </mat-select> 
        </mat-form-field>
        <button mat-button (click)="putCard()">Ajouter au panier</button>
    </div>
</div>